// COLORS
$color-primary: #4a606e;
$color-primary-light: #778d9c;
$color-primary-dark: #212d5c;

$color-gold: #b2a566;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // Spaces between the rows
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // Spaces between the columns

// BORDER
$border-corner: 3px;
