// COLORS
$color-primary: #4a606e;
$color-primary-light: #778d9c;
$color-primary-dark: #1f2334;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #cad4dd;
$color-tertiary-dark: #9898ad;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee8ec;
$color-grey-light-3: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // Spaces between the rows
$gutter-horizontal: 6rem; // Spaces between the columns

// BORDER
$border-corner: 3px;
