footer {
  background-color: $color-primary;
  color: $color-white;
  padding: 6rem;

  p {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    transition: color 0.2s;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  a:hover {
    color: $color-gold;
  }

  .footer-nav {
    list-style: none;
    float: left;

    @include respond(tab-port) {
      text-align: center;
      float: none;
    }
  }

  .social-links {
    list-style: none;
    float: right;

    @include respond(tab-port) {
      text-align: center;
      float: none;
    }
  }
}
