.section-meat-free {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.4),
      rgba($color-black, 0.4)
    ),
    url('/img/meatfreemondays.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    a,
    a:link,
    a:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 1px;
      transition: font-size 0.3s ease;
    }

    a:hover {
      font-size: 1.7rem;
    }
  }
}
