// MAIN NAVIGATION
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 4rem;
  z-index: 200;

  @include respond(tab-port) {
    display: none;
  }

  li {
    display: inline-block;

    a,
    a:link,
    a:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: 1px;
      padding-bottom: 3px;
      border-bottom: 2px transparent solid;
      transition: all 0.2s ease;

      &:hover,
      &:active {
        border-bottom: 2px $color-gold solid;
        font-size: 1.8rem;
      }
    }
  }
}

// STICKY NAVIGATION

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color-primary, 0.85);
  z-index: 20;

  li {
    a,
    a:link,
    a:visited {
      color: $color-white;
      padding-bottom: 3px;
    }
  }

  .main-nav {
    padding: 2rem 2rem;
  }
}
