body {
  font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-primary;
}

.heading-primary {
  text-transform: uppercase;
  color: $color-gold;

  &-main {
    display: block;
    font-size: 22rem;
    font-weight: 300;
    letter-spacing: 0.5rem;

    @include respond(phone-large) {
      font-size: 15rem;
      letter-spacing: 0.3rem;
    }

    @include respond(phone-med) {
      font-size: 10rem;
      letter-spacing: 0.3rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  @include respond(tab-port) {
    font-size: 3.5rem;
  }

  @include respond(phone-large) {
    font-size: 2.75rem;
  }

  &::after {
    display: block;
    height: 0.2rem;
    background-color: $color-gold;
    content: ' ';
    width: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  &--white {
    background-image: linear-gradient(to bottom, $color-white, $color-white);
    -webkit-background-clip: text;
    color: transparent;

    &::after {
      background-color: $color-gold;
    }
  }
}

.section-meat-free__text-box {
  p {
    color: $color-white;
  }
}

.section-about {
  @include respond(tab-port) {
    text-align: center;
  }
}
