.section-about {
  padding: 15rem 0;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone-large) {
    padding: 5rem 0;
  }
}

.section-menu {
  padding: 15rem 0 25rem 0;
  background-color: $color-primary-light;

  @include respond(tab-port) {
    padding: 5rem 0 15rem 0;
  }
}

.section-events {
  padding: 20rem 0;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone-large) {
    padding: 5rem 0;
  }
}

.section-meat-free {
  padding: 15rem 0 25rem 0;

  @include respond(tab-port) {
    padding: 10rem 0 15rem 0;
  }

  @include respond(phone-large) {
    padding: 5rem 0 10rem 0;
  }
}

.section-vouchers {
  padding: 15rem 0 15rem 0;
  background-color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
  }

  @include respond(phone-large) {
    padding: 5rem 0 5rem 0;
  }
}

.section-contact {
  padding: 15rem 0 20rem 0;
  background-color: $color-grey-light-2;

  @include respond(tab-port) {
    padding: 5rem 0 10rem 0;
  }

  @include respond(phone-large) {
    padding: 5rem 0 5rem 0;
  }
}
